
<!DOCTYPE html>
<html>
  <head>
    <title>EleNa</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/map.js') }}"></script>
    <script src="https://code.iconify.design/2/2.1.0/iconify.min.js"></script>
    <script>
      $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
      });
    </script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <style>
      #wrapper {position:absolute; top: 55px; bottom:0; width:75%; left: 23%; z-index: 0;}
      #map {position:absolute; width:100%; height: 100%; opacity: 1.0;}
    </style>
  </head>
  <body>
    <div class="row navbar-expand-lg navbar-light bg-secondary shadow-sm p-1" style="z-index: 1;">
      <center>
        <a href="#" class="navbar-brand">
          <span class="font-weight-bold text-white">Elevation-based Navigation</span>
        </a>
      </center>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="card m-3" style="position: absolute; bottom: 0; top: 40px; width: 20%;">
          <div class="card-header text-center bg-secondary text-white mt-3">
            <label>Plan your route</label>
          </div>
          <div class="form-container card-body">
            <form action="javascript:void(0);" id="dataForm">
              <div class="form-group mt-2">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">Start</span>
                  </div>
                  <input class="form-control" id="start" name="start" type="text" placeholder="Search here" autocomplete="on">
                </div>
              </div>
              <div class="form-group mt-3">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">End</span>
                  </div>
                  <input class="form-control" id="end" name="end" type="text" placeholder="Search here" autocomplete="on">
                </div>
              </div>
              <div class="form-group mt-3">
                <label for="percent" class="form-label">Max % Shortest Path:</label>
                <div class="percent-wrap">
                  <input type="range" class="form-range" min="100" max="200" step="25" id="percent" data-slider-value="[100, 200]">
                </div>
              </div>
              
              <div class="form-group mt-3">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <label class="input-group-text" for="elevation">Elevation</label>
                  </div>
                  <select class="form-select" id="elevation">
                    <option value="max" selected>Maximum</option>
                    <option value="min">Minimum</option>
                  </select>
                </div>
              </div>
              <div class="form-group mt-3">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <label class="input-group-text" for="algorithm">Algorithm</label>
                  </div>
                  <select class="form-select" id="algorithm">
                    <option value="dijkstra">Dijkstra</option>
                    <option value="a-star" selected>A-Star</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <button id="go" class="btn btn-success mr-2">Go</button>
                <button id="reset" class="btn btn-primary">Reset</button>
              </div>
            </form>
          </div>
          <div id="info mt-2">
            <div class="row border p-2 text-center bg-secondary text-white">
              <label >Statistics</label>
            </div>
            <p id="statistics" style="margin-top: 2px;"></p>
            <div class="row border p-2 text-center bg-secondary text-white" ><label >Directions</label></div>
            <div class="row border p-2 overflow-auto" id="directionsPanel" style="height: 5%;"></div>
          </div>
        </div>
        <div id="wrapper">
          <div id="map"></div>
        </div>
        
      </div>
    </div>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCJRDo3QnMDZo_UApNI9GnmODzHw-zWtHw&libraries=places&callback=initAutocomplete"></script>
    <script>
      $("#go").click(function() {
        if(!formValidation()){
          return;
        }
        $.get("http://127.0.0.1:5000/"+ encodeURIComponent($("#start").val()) + ":" 
        + encodeURIComponent($("#end").val()) + ":" 
        + encodeURIComponent($("#percent").val()) + ":" 
        + encodeURIComponent($("#elevation").val()) + ":"
        + encodeURIComponent($("#algorithm").val()))
        .done(function (data) {
          start = data.origin;
          end = data.des
          path = data.path;
          distance = data.dis;
          elevation = data.elev;
          for(var i =0; i < path.length; i++)
          {
            showPathOnMap(start, end, path[i], distance, elevation); 
          }
        })
    })
      $("#reset").click(function(){
        removeMarker();
        removePathFromMap();
        resetRouteStatistics();
      })
    </script>
  </body>
</html>
